body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
} 
h2{
    font-size: 40px;
}
/*spanm tag*/
.orange-color{
    color: orange;
}
/*section design*/
.flexavile-container{
    display: flex;
    margin-bottom: 150px;
}
/*div design*/
.half-width{
    width: 50%;
    padding-left: 2%;
}
/*image design*/
.half-width img{
    width: 80%;
}
/*button design*/
.hire-btn{
    text-decoration: none;
    background-image: linear-gradient(rgb(58, 47, 28), rgb(247, 78, 48));
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 400;
    color: aliceblue;
}
.hire-btn:hover{
    color: red;
    
}
/* to banner design*/
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
/*bottom banner design*/
.bottom-banner{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: 5%;
}
/*Exprience section desgin*/
.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 10px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 15px;
}
#left2-broder{
   border-left: 7px solid;
   border-image: linear-gradient(red, green);
   border-image-slice:1;
}
#left1-broder{
    border-left: 7px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1 ;

}
footer p{
     text-align: center;
     color: aqua;
}
